@media screen and (min-width: 767px) {
    .header{
        width: 400px;
    }
    .left{
        width: 150px;
    }
    .right{
        width: 250px;
    }
    .footer{
        width: 400px;
    }
}

@media screen and (max-width: 767px) {
    .header{
        width: 250px;
    }
    .right{
        width: 100px;
    }
    .footer{
        width: 250px;
    }
}

@media screen and (max-width: 479px) {
    .header{
        width: 150px;
    }
    .left{
        float: none;
    }
    .right{
        float: none;
        width: 150px;
    }
    .footer{
        width: 150px;
    }
}
